<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑导师</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="__CSS__/upload_img.css" />
    <script type="text/javascript" src="__JS__/upload_images.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑导师</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post" action="{:url('teacher/editteacher')}">
                        <input type="hidden" value="{$data.id}" name="id"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">导师中文名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="name_z" type="text" class="form-control" name="name_z" required="" aria-required="true" value="{$data.name_z}">
                            </div>
                            <label class="col-sm-3 control-label">导师英文名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="name_y" type="text" class="form-control" name="name_y" required="" aria-required="true" value="{$data.name_y}">
                            </div>
                            <label class="col-sm-3 control-label">导师年龄：</label>
                            <div class="input-group col-sm-4">
                                <input id="age" type="text" class="form-control" name="age" required="" aria-required="true" value="{$data.age}">
                            </div>
                            <label class="col-sm-3 control-label">导师性别：</label>
                            <div class="input-group col-sm-4">
                                男 <input  type="radio" name="sex" required=""
                                          {$data['sex'] == 1 ? 'checked' : ''} aria-required="true" value="1">
                                女 <input  type="radio"  name="sex" required="" aria-required="true" value="2" {$data['sex'] == 2 ? 'checked' : '' }>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">导师描述：</label>
                            <div class="input-group col-sm-7">
                                <textarea id="teacher_detail" class="form-control" name="teacher_detail" required="" aria-required="true">{$data.teacher_detail}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">头像：</label>
                            <div class="preview portrait_edit" data-action="{:url('Upload/upload_img')}">
                                <input name="default_img" value="{$data.teacher_img}" type="hidden" >
                                <div>

                                    <img style="display: inline;" src="{$data.teacher_img|getImgName=120,100}" onerror="this.src='__NoImg__'" class="show" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input type="button" value="取消" class="btn btn-danger"onclick="javascript :history.back(-1);"/>
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script type="text/javascript">
    new UploadImages(".form-horizontal");
    var index = '';
    function showStart(){
        index = layer.load(0, {shade: false});
        return true;
    }

    function showSuccess(res){

        layer.ready(function(){
            layer.close(index);
            if(1 == res.status){
                layer.msg('修改成功',{title: '友情提示', icon: 1, closeBtn: 0},function(){
                    window.location.href = res.msg;
                });
            }else{
                layer.msg(res.msg, {icon: 5});
            }
        });
    }

    //表单验证
    $(document).ready(function(){
        // 编辑导师
        var options = {
            beforeSubmit:showStart,
            success:showSuccess
        };

        $('#commentForm').submit(function(){
            $(this).ajaxSubmit(options);
            return false;
        });
    });
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });
</script>
</body>
</html>
